### Different data types in python

In [23]:
a = 1
a1 = 'Pranali'
a3 = True
a4 = range(4)
a5 = {'Pranali', 'Neha', 'Nikhil'}
a6 = ['dog', 'cat', 'cow']
a7 = {"name":"Pranali", "age": 21}

### Question2- How do you convert a string '123' into an integer?

In [110]:
a8 = 123
b = int(a8)
print(type(b))

TypeError: 'int' object is not callable

### Question3-Write a Python program to check if a given variable is of type float.

In [31]:
def isFloat(input):
    return type(input)==False
print(isFloat(1))

False

### Question4-Convert the list [1, 2, 3, 4] into a tuple and a set.

In [51]:
l1 = [1,2,3,4]
t1 = tuple(l1)
print(t1)
s1 = set(l1)
print(s1)

(1, 2, 3, 4)
{1, 2, 3, 4}

### Question5-Write a Python script to calculate the length of a string provided by the user.

In [61]:

string = input("Enter a string: ")

length = len(string)

print("Length of string:", length)

Enter a string:  hello

Length of string: 5

### Question6-Create a dictionary to store details of a student (name, age, grade). Retrieve the age from the dictionary.

In [68]:
student_data = {
    'name':'Pranali',
    'age':21
}
print(student_data['age'])

21

### Question7-Write a program to check if a variable is mutable or immutable.

In [77]:
def isImmutable(input):
    return type(input)==tuple or type(input)==str
isImmutable('jtdyt')

False

### Question8-Convert the integer 10 to binary, octal, and hexadecimal formats.

In [93]:
print(bin(20))
print(oct(20))
print(hex(20))

0b10100
0o24
0x14

### Question9-Write a Python program to swap two numbers using tuple unpacking.

In [97]:
a=1
b=2
a,b=b,a
print(a,b)

2 1